.country {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border: 3px solid lightskyblue;
    width: 250px;
    height: 280px;
}

.imgCountry {
    align-self: center;
    width: 80px
}