.container-detail {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    
}

.country-detail {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    /* border: 5px solid skyblue; */
    height: 300px;
    width: 800px;
    padding: 100px;
    margin-top: 4rem;
}

.below-image {
    align-self: center;
    justify-content: center;
    border: 5px solid skyblue;
    padding: 30px;
    align-items: center;
}

.name-detail{
    justify-content: center;
}

.activities-title {
    text-decoration: underline;
}

.img-detail {
    width: 450px;
    border-radius: 5px 5px 0 0;
}
