ul, ol {
  list-style: none;
}

.nav {
  margin: auto;
  width: 864px;
  height: 80px;
  font-family: Arial, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 19.7%;
  background-color: skyblue;
}

.nav li {
  align-content: center;
}

.nav li a {
  background:none;
  color: black;
  font-weight: bolder;
  background: skyblue;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.nav li ul {
  display: none;
  position: absolute;
  
}

.nav li:hover > ul {
  display: block;
}

.nav li ul li {
  position: relative;
}

.nav li ul li ul {
  right: -100px;
  top: 10px;
  left: -77px;
}

.nav ul li ul li a {
  left: 0px;
}

.logo {
  width: 25%;
  cursor: pointer;
  margin-left: -70px;
}

ul li button {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

ul li button {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

.superSubMenu button {
  width: 100px;
  margin-left: 135px;
  margin-top: 0;
  color: black;
  font-weight: bolder;
  background: skyblue;
}

.add-activity {
  margin-left: -120px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  background: skyblue;
}

li ul li button {
  color: black;
  font-weight: bolder;
  background: skyblue;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}