.elementsContainer {
    /* width: 120px;
    height: 100%;
    vertical-align: middle; */
}

.search {
    border: none;
    width: 120px;
    height: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 14px;
    color: #424242;
    font-weight: 400;
}

.btn {
    border-radius: 50px;
}